:root {
  --primary-text-color: #111518;
  --header-menu-text-color: #b9b9b9;
  --all-orange-color: #ff6b09;
  --all-white-color: #ffffff;
}

// font family

$primary_FontFamily: Montserrat, sans-serif;
