<section class="contacts_foto">
    <div class="container">
        <h2 class="contacts_item">Registration for a <span class="contacts_collor">free</span> phone <span
                class="contacts_collor">consultation</span> on the nuances of English UPE</h2>
        <div class="contacts_text_div">
            <p class="contacts_text">Leave a request for participation in a <span class="contacts_collor">free
                    lesson.</span> <br> A
                consultant will
                contact you and answer your questions</p>
        </div>
        <form class="contacts_form">
            <div class="contacts_placeholder"><input type="name" class="contacts_name" placeholder="Name*"
                    pattern="[A-Za-z]{2,}"></div>
            <div class="contacts_placeholder"><input type="phone" class="contacts_name contacts_phone"
                    placeholder="Phone*" pattern="[0-9]{5,12}"></div>
            <div class="contacts_button_box">
                <button type="submit" class="contacts_button">I WANT A FREE LESSON</button>
            </div>
        </form>
    </div>
</section>