<footer class="footer">
        <div class="footer__container container">
            <div class="footer_logo">
                    <ul class="header-container__list-logo footer-container__logo">
                        <li class="header-container__item-logo">Hell <span class="header-container__second-part">EN</span>
                            <svg class="header__fire">
                                <use href="./images/svg/sprite.svg#icon-logo"></use>
                            </svg>
                        </li>
                        <li class="header-container__item-logo_second ">hellish <span class="header-container__second-word ">english</span>
                        </li>
                    </ul>
                    <ul class="footer-container__list-logo list">
                    <li class="footer_lig">
                        <a class="footer_tell" href="tel:+380000000000">
                                <svg class="footer_tell-svg">
                                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                                </svg>
                            +38 (000) 000 00 00
                        </a>
                        <a class="footer__instagram" href=""></a>
                    </li>
                    </ul>
            </div>
        </div>
        <div class="footer_down container">
            <p class="footer_name">&#64; All rights reserved, 2019</p>
        </div>

</footer>