<header>
    <!-- добавить якоря -->
    <div class="header-container">
        <ul class="header-container__list-logo">
            <li class="header-container__item-logo">Hell <span class="header-container__second-part">EN</span>
                <svg>
                    <use href="./images/svg/sprite.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="header-container__item-logo">hellish <span class="header-container__second-word">english</span></li>
        </ul>
        <ul class="header-container__list-menu">
            <li class="header-container__item-menu"><a href="#" class="header-container__link">Studying program</a></li>
            <li class="header-container__item-menu"><a href="#" class="header-container__link">about</a></li>
            <li class="header-container__item-menu"><a href="#" class="header-container__link">training options</a></li>
            <li class="header-container__item-menu"><a href="#" class="header-container__link">contacts</a></li>
        </ul>
        <button type="button" class="header-container__button">consultation by phone</button>
    </div>
</header>