<!-- How we do section -->
<section class="how-we-do">
    <h2 class="how-we-do__title">How do we do it</h2>

    <ul class="how-we-do__list">
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">Adapted program preparation for UPE</h3>
                <p class="how-we-do-description">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </svg>
        </li>
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">Classroom and online learning</h3>
                <p class="how-we-do-description">The teacher will help not only in the classroom, but also during home preparation.
                Parents can chat if they wish.</p>
            </svg>
        </li>
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">The habit of reading in English</h3>
                <p class="how-we-do-description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
            </svg>
        </li>
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">Psychological support</h3>
                <p class="how-we-do-description">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
            </svg>
        </li>
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">Training on copyright manuals</h3>
                <p class="how-we-do-description">You don't have to waste your time on a search for material and to buy anything extra. We have compiled
                2 manuals for you.</p>
            </svg>
        </li>
        <li class="how-we-do__item">
            <svg class="how-we-do__icon">
                <use href=""></use>
                <h3 class="how-we-do__suptitle">Ability to comprehend spoken English</h3>
                <p class="how-we-do-description">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
                in accordance with the studied vocabulary.</p>
            </svg>
        </li>
    </ul>
</section>