<section class="program">
  <div class="container">
    <h2 class="program__heading">Our program</h2>
    <ul>
      <li class="program__schedule">
        1 semester
        <ul>
          <li class="program__direction">
            Grammar
            <ul>
              <li class="program__item">Nouns & Articles</li>
              <li class="program__item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program__direction">
            Vocabulary
            <ul>
              <li class="program__item">Family & Relations</li>
              <li class="program__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__schedule">
        2 semester
        <ul>
          <li class="program__direction">
            Grammar

            <ul>
              <li class="program__item">Pronouns</li>
              <li class="program__item">Active Voice</li>
              <li class="program__item">Passive Voice</li>
            </ul>
          </li>
          <li class="program__direction">
            Vocabulary

            <ul>
              <li class="program__item">Home</li>
              <li class="program__item">School</li>
              <li class="program__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__schedule">
        3 semester

        <ul>
          <li class="program__direction">
            Grammar
            <ul>
              <li class="program__item">Modal verbs</li>
              <li class="program__item">Infinitive</li>
              <li class="program__item">Gerund</li>
              <li class="program__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__direction">
            Vocabulary
            <ul>
              <li class="program__item">Travel & Tourism</li>
              <li class="program__item">Culture & Free Time</li>
              <li class="program__item">Sport</li>
            </ul>
          </li>
          <li>
            Writing
            <ul>
              <li class="program__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__schedule">
        4 semester
        <ul>
          <li class="program__direction">
            Grammar
            <ul>
              <li class="program__item">Conditional and Wishes</li>
              <li class="program__item">Direct / Reported speech</li>
              <li class="program__item">Preposition</li>
              <li class="program__item">Conjunction</li>
              <li class="program__item">Numeral</li>
            </ul>
          </li>
          <li class="program__direction">
            Vocabulary
            <ul>
              <li class="program__item">Healthy Living</li>
              <li class="program__item">Nature & Environment</li>
              <li class="program__item">Money</li>
            </ul>
          </li>
          <li>
            Writing
            <ul>
              <li class="program__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__schedule">
        5 semester
        <ul>
          <li class="program__direction">
            <ul>
              <li class="program__item">Revision</li>
              <li class="program__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
