.contacts__container {
  background-color: lightslategrey;
  padding-top: 56px;
  padding-bottom: 56px;
  @media (min-width: 768px) and (max-width: 1365px) {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

.contacts__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  color: $white-color;
  text-align: center;
  letter-spacing: 0.03em;

  max-width: 280px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) and (max-width: 1365px) {
    font-size: 26px;

    max-width: 688px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 46px;
    max-width: 1090px;
  }
}

.contacts__accent {
  color: $all-orange-color;
}

.contacts__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $white-color;

  max-width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) and (max-width: 1365px) {
    font-size: 14px;
    line-height: 1.21;

    max-width: 452px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 30px;
    line-height: 1.23;

    max-width: 1090px;
  }
}

.contacts__accent-description {
  color: $all-orange-color;
}

.contacts__form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 280px;

  margin-top: 43px;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1365px) {
    width: 390px;
    margin-top: 23px;
  }

  @media screen and (min-width: 1366px) {
    width: 478px;
    margin-top: 56px;
  }
}

.contacts__input {
  width: 100%;
  height: 48px;
  padding-left: 48px;
  border: 1px solid $white-color;
  background-color: transparent;
  color: $white-color;

  @media (min-width: 768px) and (max-width: 1365px) {
    padding-left: 28px;
  }

  @media screen and (min-width: 1366px) {
    height: 70px;
    padding-left: 40px;
  }
}

.contacts__input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: 0.08em;

  color: $white-color;

  @media screen and (min-width: 1366px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.contacts__input:first-child {
  margin-bottom: 20px;

  @media screen and (min-width: 1366px) {
    margin-bottom: 30px;
  }
}

.contacts__input:required:not(:placeholder-shown):valid {
  background-color: transparent;
}

.contacts__input:required:not(:placeholder-shown):invalid {
  background-color: #f44336;
}

.contacts__button {
  width: 260px;
  padding: 15px 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.08em;

  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;

  color: $white-color;
  background-color: $all-orange-color;

  @media (min-width: 768px) and (max-width: 1365px) {
    margin-top: 31px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14rem;

    margin-top: 80px;
    width: 354px;
    height: 70px;
  }
}
