.footer_logo {
  @media screen and (min-width: 320px) {
    margin-top: 34px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }
  @media screen and (min-width: 1366px) {
    justify-content: start;
  }
}

.footer-container__list-logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container__item-logo,
.footer-container__item-logo_second {
  @media screen and (min-width: 320px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: start;
    // margin-left: 40px;
  }
  @media screen and (min-width: 1366px) {
  }
}
.footer-container__item-logo_second {
  font-style: normal;
  font-size: 10px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-weight: 700;
  }
  @media screen and (min-width: 1366px) {
  }
}

.footer-container__item-logo {
  font-size: 20px;
  font-weight: 800;
  font-style: normal;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    // padding-top: 40px;
  }
  // @media screen and (min-width: 1366px) {
  //   padding-top: 54px;
  // }
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
}
.footer-container__second-word {
  color: #ff6b09;
}
.footer_div {
  text-align: center;
}

.footer_tell {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 21px;
  letter-spacing: 0.08em;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-top: 0;
    // position: relative;

    &::after {
      content: '';
      width: 40px;
      border: 1px solid;
      margin-left: 24px;
      transform: rotate(90deg);
      color: var(--header-menu-text-color);
    }

    @media screen and (min-width: 1366px) {
      // position: relative;
      font-size: 30px;
      line-height: 1.23;
      text-align: center;
      // margin-right: 60px;
    }
  }
}

.footer_tell-svg {
  width: 20px;
  height: 19px;
  margin-right: 10px;
  fill: var(--all-orange-color);

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 23px;
  }

  @media screen and (min-width: 1366px) {
    margin-right: 15px;
    width: 30px;
    height: 29px;
  }
}

.footer_div {
  padding-top: 21px;
  padding-bottom: 31px;
}

.footer_down {
  @media screen and (min-width: 320px) {
    text-align: center;
    background-color: #111518;
    height: 70px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1366px) {
  }
}

.footer_name {
  @media screen and (min-width: 320px) {
    color: #b9b9b9;
    padding-top: 22px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }

  @media screen and (min-width: 1366px) {
    margin-left: 183px;
  }
}

.footer_li {
  @media screen and (min-width: 320px) {
    text-align: center;
    // padding-top: 21px;
    // padding-bottom: 31px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    // padding-top: 51px;
  }
  @media screen and (min-width: 1366px) {
    // padding-top: 63px;
    margin-left: 290px;
    margin-right: 240px;
  }
}
// .footer-container__list-logo {
//   // height: 150px;
//   padding: 40px;
// }

.footer__instagram {
  content: '';
  background-image: url(../images/svg/instagram-icon.svg);
  background-color: linear-gradient(
    299.36deg,
    rgba(161, 181, 216, 0) 61.06%,
    rgba(144, 162, 189, 0.309804) 110.82%,
    rgba(124, 139, 156, 0.756863) 182.56%,
    #748290 221.9%
  );
  width: 40px;
  height: 40px;
}
