.how-we-do {
  margin-top: 50px;
  margin-bottom: 50px;

  @media screen and (min-width: 1366px) {
    margin-top: 213px;
    margin-bottom: 75px;
  }
}

.how-we-do__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 334px);
    grid-row-gap: 27px;
    grid-column-gap: 20px;
  }

  @media screen and (min-width: 1366px) {
    display: grid;
    grid-template-columns: repeat(3, 424px);
    gap: 20px;
    margin-top: 62px;
  }
}

.how-we-do__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 30px;
  padding-bottom: 21px;

  background-color: var(--all-white-color);
  box-shadow: 0 0px 26px 0 rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    background-color: var(--all-orange-color);
  }

  &:hover,
  &:focus {
    background-color: var(--all-orange-color);
  }

  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: 320px) {
    width: 280px;
    height: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 334px;
    height: 334px;
  }

  @media screen and (min-width: 1366px) {
    width: 425px;
    height: 396px;
    padding: 40px 30px 55px;
  }
}

.how-we-do__icon {
  fill: var(--all-orange-color);

  .how-we-do__item:hover &,
  .how-we-do__item:focus & {
    fill: var(--all-white-color);
  }
}

.how-we-do__title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 900px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 46px;
    margin-bottom: 32px;
    text-align: start;
  }
}

.how-we-do__suptitle {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700px;
  margin-top: 20px;
  letter-spacing: 0.08em;
  max-width: 280px;
  text-align: center;
  color: var(--primary-text-color);

  .how-we-do__item:hover &,
  .how-we-do__item:focus & {
    color: var(--all-white-color);
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    height: 37px;
  }

  @media screen and (min-width: 1366px) {
    font-size: 20px;
    margin-top: 31px;
    height: 53px;
  }
}

.how-we-do__suptitle-lines {
  @media screen and (max-width: 1365px) {
    max-width: 250px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 365px;
  }
}

.how-we-do__suptitle-lines-one {
  @media screen and (max-width: 1365px) {
    max-width: 200px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 350px;
  }
}

.how-we-do__description {
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--header-menu-text-color);

  .how-we-do__item:hover &,
  .how-we-do__item:focus & {
    color: var(--all-white-color);
  }

  @media screen and (min-width: 768px) {
    line-height: 2.3;
  }

  @media screen and (min-width: 1366px) {
    font-size: 18px;
    line-height: 1.6;
  }
}

// .how-we-do__description::before {
//   content: '';
//   display: block;
//   width: 100pxpx;
//   min-height: 30px;
//   background-color: red;
// }

.how-we-do__span {
  display: flex;
  align-items: center;
  height: 33px;
  margin-top: 5px;
  color: var(--all-orange-color);

  .how-we-do__item:hover &,
  .how-we-do__item:focus & {
    color: var(--all-white-color);
  }

  @media screen and (min-width: 1366px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1366px) {
    margin-bottom: 0;
  }
}
