// .problems {
//   background-image: linear-gradient(
//     to bottom,
//     $problems_background-primary,
//     $problems_background-white
//   );
// }
.problems {
  background-color: $problems_background-primary;
  padding-top: 28px;
  min-height: 546px;
  margin-bottom: 200px;
}

.problems__title {
  max-width: 280px;

  text-align: left;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;

  letter-spacing: 0.03em;
  color: $white-color;
}

.problems__title-accent {
  color: $all-orange-color;
}

.problems__container {
  position: relative;
}

.problems__position {
  position: absolute;
  padding: 34px 22px;
  right: 20px;
  left: 20px;
  top: 206px;
  min-width: 280px;
  min-height: 488px;

  background-color: $white-color;
}

.problems__item {
  text-align: left;
  min-width: 237px;
  font-weight: bold;
  font-size: 14px;
  line-height: 2;

  letter-spacing: 0.08em;
}

.problems__list {
  display: flex;
  flex-wrap: wrap;

  //   display: grid;
  //   grid-template-rows: 1fr 1fr 1fr;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   grid-gap: 2vw;
  counter-reset: problems__list;
}

.problems__item::before {
  display: flex;
  //   display: block;
  //   content: ' ';
  //   width: 20px;
  //   height: 2px;
  counter-increment: problems__list 01;

  content: '\268A  0'counter(problems__list);
  color: $all-orange-color;
}
