.program {
  background-color: rgb(17, 21, 24);
  &__heading {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
  }
  &__direction {
    font-size: 12px;
    line-height: 1.64;
    letter-spacing: 0.08em;
    color: rgb(255, 107, 9);
  }
  &__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    color: rgb(185, 185, 185);
    opacity: 0.5;
  }
}
