.about__dots {
}
.about__more {
  display: none;
}
.about__read {
  color: #ff6b09;
  text-decoration-line: underline;
}
.reviers__about.more-text .about__more {
  display: inline;
}
.reviers__about.more-text .about__dots {
  display: none;
}
